name: Deploy to Development

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  AWS_REGION: us-east-1
  STAGE: development

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v5
        with:
          cache: yarn

      - run: yarn install --frozen-lockfile

      - run: yarn test

  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v5
        with:
          cache: yarn

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::844815912454:role/GithubActions-Serverless-Lambda-Role
          aws-region: ${{ env.AWS_REGION }}

      - run: yarn global add serverless@^3

      - run: yarn install --frozen-lockfile --production # NOTE: To keep the lambda package size down, we only install production dependencies

      - run: make deploy-${{ env.STAGE }}

      - run: make publish
